extends ../layout/index
block content
    main.container.mt-5
        h1.text-center.mb-5 #{page}
        .row.upcoming-trips
            each trip in trips
                .col-md-6.col-lg-4.mb-4
                    .card.trip-card
                        img(src=`img/destinos_${trip.image}.jpg`, class="img-fluid", alt=`${trip.image} image`)  
                        .card-body
                            h2.trip-title=trip.title
                            .info-block.d-flex
                                img.mr-2(src="img/calendar.png", alt="calendar icon", class="trip-icon")
                                p #{trip.depart_date} - #{trip.return_date}
                            .info-block.d-flex
                                img.mr-2(src="img/euro.png", alt="euro icon", class="trip-icon")
                                p #{trip.price} 
                         
                            a(href=`trips/${trip.id}`, class="more-info", title="title") more info 